.contenido{
    background: $colorFondoPerfiles;
    color: $colorTextPerfiles;
}
.category{
    padding: 15px;
    &:nth-of-type(2){
        margin-bottom: 7vw;
        .content{
            height: 46vw;
        }
    }
}
.contents{
    display: flex;
    padding: 5px 0;
    //overflow-x: auto;
    .history{
        width: 27vw;
        height: 27vw;
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: 10px;
        border: 2px solid red;
        @include background("image0");
    }
    .content{
        width: 27vw;
        height: 37vw;
        flex-shrink: 0;
        border-radius: 5px;
        contain: content;
        @include background("image0");
        position: relative;
        margin-right: 9px;
        cursor: pointer;
        .play,.more{
            position: absolute;
            right: 0;
            left: 0;
        }
        .play{
            top: 0;
            bottom: 7vw;
            text-align: center;
            svg{
                width: 50%;
                height: 100%;
            }
        }
        .more{
            height: 8vw;
            bottom: 0;
            background: $colorFondo;
            display: flex;
            justify-content: space-between;
            padding: 5px 22px;
            .iconInfo{
                width: 24px;
            }
            .iconMorePounts{
                width: 4.6px;
            }
        }  
    }
}
