.perfiles{
    height: 100vh;
    background: $colorFondoPerfiles;
    color: $colorTextPerfiles;
    .logo{
        height: 10vh;
    }
    .content{
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include profile(2);
        h1{
            font-size: 1rem;
            margin-bottom: 1.5rem;
        }
        
    }
}
