$images:("image0","image1","image2","image3");
$colorFondoPerfiles:black;
$colorTextPerfiles:white;
$colorFondoModalPassword:rgb(72, 72, 72);
$colorGreyBorder: rgba(144, 144, 144, 0.87);
$colorFondo:rgb(29, 29, 29);