-var imagesProfile = ["image0","image1","image2","image3"]
-var perfiles = [["Perfil 1",1,1212,0],["Perfil 2",1,1212,1],["Perfil 3",1,1212,2],["Perfil 4",0,1212,3],["Perfil 5",0,1212,3]]
-var categoryInicio = ["Avances", "Continuar viendo contenido de Usuario", "Mi lista", "Series","Tendencias","calificar títulos","orignales de Netflix"]
