mixin password
    section.modalPassword
        .container
            p Ingresa tu PIN para acceder a este perfil.
            input.inputPassword(type="password", name="passwordUser")
            a ¿Olvidaste tu PIN?
            input.cancelar(type="button", value="Cancelar")

mixin contenido
    each category in categoryInicio
        section(class="category "+category)
            h3 #{category}
            .contents
                if category==categoryInicio[0]
                    each image in imagesProfile
                        .history
                else
                    if category==categoryInicio[1]
                        each image in imagesProfile
                            .content
                                .play
                                    +iconPlayCircle
                                .more
                                    +iconInfo
                                    +iconMorePounts
                    else
                        each image in imagesProfile
                            .content

                
mixin profiles
    .users
        each perfil in perfiles
            .user
                img.imageUser(src="images/"+imagesProfile[perfil[3]]+".png", alt="Profile Image")
                h2 #{perfil[0]}
                if perfil[1]==1
                    +iconLocked


mixin iconLocked
    svg.iconLocked(viewBox="0 0 42 60")
        path(fill="white" d="M0 60h42v-35h-42v35m6 -5v-25h30v25h-30m12 -7h6v-11h-6v11m-12 -23v-10a15 15 0 0 1 30 0v10h-6v-10a9 9 0 0 0 -18 0v10")

mixin iconNetflix
    svg.iconNetflix(viewBox="0 0 47 85")
        path(fill="#b80000" d="M0 0v85h17v-37")
        path(fill="#b80000" d="M47 0v85l-17 -48v-37")
        path(fill="#da1f1f" d="M0 0l30 85h17l-30 -85")

mixin iconSearch
    svg.iconSearch(viewBox="0 0 43 43")
        path(fill="black" d="M20 0a20 20 0 0 1 16 32l7 7 -4 4 -7 -7a20 20 0 1 1 -12 -36v6a14 14 0 0 0 0 28a14 14 0 0 0 0 -28")

mixin iconInfo
    svg.iconInfo(viewBox="0 0 35 35")
        path(fill="white" d="M17.5 0a17.5 17.5 0 0 1 0 35a17.5 17.5 0 0 1 0 -35v4a13.5 13.5 0 0 0 0 27a13.5 13.5 0 0 0 0 -27m2 5v4h-4v-4m0 6v11h4v-11")

mixin iconMore
    svg.iconMore(viewBox="0 0 37 37")
        path(fill="white" d="M16 0h5v16h16v5h-16v16h-5v-16h-16v-5h16")

mixin iconPlay
    svg.iconPlay(viewBox="0 0 24 25")
        path(fill="white" d="M0 0v25l24 -12.5")

mixin iconPlayCircle
    svg.iconPlayCircle(viewBox="0 0 41 41")
        circle(fill="rgba(8, 6, 6, .53)" cx="20.5" cy="20.5" r="19")
        path(fill="white" d="M20.5 0a20.5 20.5 0 0 1 0 41a20.5 20.5 0 0 1 0 -41v2a18.5 18.5 0 0 0 0 37a18.5 18.5 0 0 0 0 -37m-5.5 11v15l14 -7.5")

mixin iconMorePounts
    svg.iconMorePounts(viewBox="0 0 10 35")
        circle(fill="white" cx="5" cy="5" r="5")
        circle(fill="white" cx="5" cy="17.5" r="5")
        circle(fill="white" cx="5" cy="30" r="5")

mixin iconCerrar
    svg.iconPlayCircle(viewBox="0 0 41 41")
        circle(fill="rgba(8, 6, 6, .53)" cx="20.5" cy="20.5" r="19")
        path(fill="white" d="M20.5 0a20.5 20.5 0 0 1 0 41a20.5 20.5 0 0 1 0 -41v2a18.5 18.5 0 0 0 0 37a18.5 18.5 0 0 0 0 -37m-5.5 11v15l14 -7.5")