include _config.pug
include _mixins.pug
<!DOCTYPE html>
html(lang="es")
    include _head.pug
    body
        include _perfiles.pug
        include _inicio.pug
        include _profileInfo.pug
        include _proximamente.pug
        script(src="js/script.js")
